[Unit]
Description=Mount user data partition
ConditionKernelCommandLine=mmcblk2

[Mount]
What=/dev/mmcblk2p5
Where=/data
Type=ext4
Options=rw

[Install]
WantedBy=local-fs.target
