[Unit]
Description=USB gadgets
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/usb_gadgets.sh

[Install]
WantedBy=multi-user.target
