[Unit]
Description=USB Ethernet gadget %I
After=systemd-user-sessions.service plymouth-quit-wait.service getty-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/usb-gadget-eth.sh %I
ExecStop=/usr/sbin/usb-gadget-stop.sh ETH_%I

[Install]
WantedBy=usb-gadget.target
